<html lang="en">
  
  <head>
    
<title>Card | MatCSS | A CSS framework based on Material Design</title>
<meta name="description"
    content="Card component for CSS3Material Framework. It can be used to display images or text" />
<meta property="og:url" content="components/.html" />
<meta property="og:title" content="Card Component —  framework" />
<meta property="og:description" content="Card component for  framework">
<meta name="keywords" content="Card, pure css Card, material design Card" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Card Component —  framework" />
<link rel="canonical" href="https://matcss.com/components/card.html" />
<style>
    .degree::after {
        content: "°C";
        position: absolute;
        font-size: 3rem;
        font-weight: 400;
        margin-top: 1rem
    }
</style>

    

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="robots" content="index, follow" />
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="author" content="Faheem Nawaz" />
<meta name="web-author" content="Faheem Nawaz" />
<meta content="on" http-equiv="cleartype" />
<meta name="site_name" content="Docs" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link rel="stylesheet" href="../css/main.css" />
<link rel="stylesheet" href="../css/custom.css" />
<link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16" />
  </head>
  <body>
    <main id="site-wrapper" itemscope itemtype="http://schema.org/Article">
      









<aside class="drawer site-sidenav scrollbar f-active" v-bind:class="{'is-active': vDrawerActive}" id="site-drawer">
    <div class="drawer-header flex flex--align-center flex--justify-center drawer-header--sm flex--dir-col">
        <div class="show-md-and-down " style="display: none">
            <img src="../../images/logo.png" class="toolbar-logo" alt="" />
        </div>
    </div>
    <ul class="list list--drawer list--dense">
        <li class="list-item">
            <i class="material-icons icon list-item-start">house</i>
            <a href="https://www.css3material.com/" class="list-item-detail">
                <span class="list-item-title">Home</span>
            </a>
        </li>
        <li class="list-item">
            <i class="material-icons icon list-item-start">flash_on</i>
            <a href="https://www.css3material.com/gettingstarted.com" class="list-item-detail">
                <span class="list-item-title">Getting Started</span>
            </a>
        </li>
        <li>
            <ul class="expansion-panel smooth list list--dense">
                <div class="expansion-panel-header list-item" id="al">
                    <i class="material-icons icon list-item-start">layers</i>
                    <span class="list-item-detail">
                        <span class="list-item-title">Application Layout</span>
                    </span>
                    <span class="list-item-end material-icons arrow">keyboard_arrow_down</span>
                </div>
                <div class="expansion-panel-body">
                    <ul class="list list-nested list--dense">
                        
                        <li class="list-item">
                            <a href="https://www.css3material.com/layout/columns.html" class="list-item-detail">
                                <span class="list-item-title"> Columns</span>
                            </a>
                        </li>
                        
                        <li class="list-item">
                            <a href="https://www.css3material.com/layout/elevation.html" class="list-item-detail">
                                <span class="list-item-title"> Elevation</span>
                            </a>
                        </li>
                        
                        <li class="list-item">
                            <a href="https://www.css3material.com/layout/footer.html" class="list-item-detail">
                                <span class="list-item-title"> Footer</span>
                            </a>
                        </li>
                        
                        <li class="list-item">
                            <a href="https://www.css3material.com/layout/hero.html" class="list-item-detail">
                                <span class="list-item-title"> Hero</span>
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </ul>
        </li>
        <li>
            <ul class="expansion-panel smooth list list--dense">
                <div class="expansion-panel-header list-item" id="cc">
                    <i class="material-icons icon list-item-start">widgets</i>
                    <span class="list-item-detail">
                        <span class="list-item-title">Core Components</span>
                    </span>
                    <span class="list-item-end material-icons arrow">keyboard_arrow_down</span>
                </div>
                <div class="expansion-panel-body">
                    <ul class="list list-nested list--dense">
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/components/avatars.html" class="list-item-detail">
                                <span class="list-item-title">Avatars</span>
                            </a>
                        </li>
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/components/badges.html" class="list-item-detail">
                                <span class="list-item-title">Badges</span>
                            </a>
                        </li>
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/components/banners.html" class="list-item-detail">
                                <span class="list-item-title">Banners</span>
                            </a>
                        </li>
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/components/bottom navigation.html" class="list-item-detail">
                                <span class="list-item-title">Bottom Navigation</span>
                            </a>
                        </li>
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/components/breadcrumb.html" class="list-item-detail">
                                <span class="list-item-title">Breadcrumb</span>
                            </a>
                        </li>
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/components/buttons.html" class="list-item-detail">
                                <span class="list-item-title">Buttons</span>
                            </a>
                        </li>
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/components/cards.html" class="list-item-detail">
                                <span class="list-item-title">Cards</span>
                            </a>
                        </li>
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/components/chip.html" class="list-item-detail">
                                <span class="list-item-title">Chip</span>
                            </a>
                        </li>
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/components/dialog.html" class="list-item-detail">
                                <span class="list-item-title">Dialog</span>
                            </a>
                        </li>
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/components/divider.html" class="list-item-detail">
                                <span class="list-item-title">Divider</span>
                            </a>
                        </li>
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/components/drawer.html" class="list-item-detail">
                                <span class="list-item-title">Drawer</span>
                            </a>
                        </li>
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/components/empty states.html" class="list-item-detail">
                                <span class="list-item-title">Empty States</span>
                            </a>
                        </li>
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/components/expansion panel.html" class="list-item-detail">
                                <span class="list-item-title">Expansion Panel</span>
                            </a>
                        </li>
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/components/lists.html" class="list-item-detail">
                                <span class="list-item-title">Lists</span>
                            </a>
                        </li>
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/components/menu.html" class="list-item-detail">
                                <span class="list-item-title">Menu</span>
                            </a>
                        </li>
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/components/messages.html" class="list-item-detail">
                                <span class="list-item-title">Messages</span>
                            </a>
                        </li>
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/components/pagination.html" class="list-item-detail">
                                <span class="list-item-title">Pagination</span>
                            </a>
                        </li>
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/components/progress.html" class="list-item-detail">
                                <span class="list-item-title">Progress</span>
                            </a>
                        </li>
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/components/snackbar.html" class="list-item-detail">
                                <span class="list-item-title">Snackbar</span>
                            </a>
                        </li>
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/components/table.html" class="list-item-detail">
                                <span class="list-item-title">Table</span>
                            </a>
                        </li>
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/components/tabs.html" class="list-item-detail">
                                <span class="list-item-title">Tabs</span>
                            </a>
                        </li>
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/components/toolbar.html" class="list-item-detail">
                                <span class="list-item-title">Toolbar</span>
                            </a>
                        </li>
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/components/tooltip.html" class="list-item-detail">
                                <span class="list-item-title">Tooltip</span>
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </ul>
        </li>
        <li>
            <ul class="expansion-panel smooth list list--dense">
                <div class="expansion-panel-header list-item" id="effects">
                    <i class="material-icons icon list-item-start">style</i>
                    <span class="list-item-detail">
                        <span class="list-item-title">Effects</span>
                    </span>
                    <span class="list-item-end material-icons arrow">keyboard_arrow_down</span>
                </div>
                <div class="expansion-panel-body">
                    <ul class="list list-nested list--dense">
                        
                        <li class="list-item">
                            <a href="https://www.css3material.com/components/images.html" class="list-item-detail">
                                <span class="list-item-title">Images</span>
                            </a>
                        </li>
                        
                        <li class="list-item">
                            <a href="https://www.css3material.com/components/media.html" class="list-item-detail">
                                <span class="list-item-title">Media</span>
                            </a>
                        </li>
                        
                        <li class="list-item">
                            <a href="https://www.css3material.com/components/ripple.html" class="list-item-detail">
                                <span class="list-item-title">Ripple</span>
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </ul>
        </li>
        <li>
            <ul class="expansion-panel smooth list list--dense">
                <div class="expansion-panel-header list-item" id="forms">
                    <i class="material-icons icon list-item-start">file_copy</i>
                    <span class="list-item-detail">
                       <span class="list-item-title">Forms</span>
                    </span>
                    <span class="list-item-end material-icons arrow">keyboard_arrow_down</span>
                </div>
                <div class="expansion-panel-body">
                    <ul class="list list-nested list--dense">
                        
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/forms/checkbox.html" class="list-item-detail">
                                <span class="list-item-title">Checkbox</span>
                            </a>
                        </li>
                        
                        
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/forms/file.html" class="list-item-detail">
                                <span class="list-item-title">File</span>
                            </a>
                        </li>
                        
                        
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/forms/radio.html" class="list-item-detail">
                                <span class="list-item-title">Radio</span>
                            </a>
                        </li>
                        
                        
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/forms/range.html" class="list-item-detail">
                                <span class="list-item-title">Range</span>
                            </a>
                        </li>
                        
                        
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/forms/select.html" class="list-item-detail">
                                <span class="list-item-title">Select</span>
                            </a>
                        </li>
                        
                        
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/forms/switch.html" class="list-item-detail">
                                <span class="list-item-title">Switch</span>
                            </a>
                        </li>
                        
                        
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/forms/textfields.html" class="list-item-detail">
                                <span class="list-item-title">Textfield &amp; Textarea</span>
                            </a>
                        </li>
                        
                        
                    </ul>
                </div>
            </ul>
        </li>
        <li>
            <ul class="expansion-panel smooth list list--dense">
                <div class="expansion-panel-header list-item" id="utils">
                    <i class="material-icons icon list-item-start">touch_app</i>
                    <span class="list-item-detail">
                        <span class="list-item-title">Utilities</span>
                    </span>
                    <span class="list-item-end material-icons arrow">keyboard_arrow_down</span>
                </div>
                <div class="expansion-panel-body">
                    <ul class="list list-nested list--dense">
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/utilities/colors.html" class="list-item-detail">
                                <span class="list-item-title">Colors</span>
                            </a>
                        </li>
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/utilities/cursor.html" class="list-item-detail">
                                <span class="list-item-title">Cursor</span>
                            </a>
                        </li>
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/utilities/positioning.html" class="list-item-detail">
                                <span class="list-item-title">Positioning</span>
                            </a>
                        </li>
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/utilities/shapes.html" class="list-item-detail">
                                <span class="list-item-title">Shapes</span>
                            </a>
                        </li>
                        
                        <li class="list-item" tabindex="0">
                            <a href="https://www.css3material.com/utilities/text.html" class="list-item-detail">
                                <span class="list-item-title">Text</span>
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </ul>
        </li>
        <li class="list-item">
            <i class="material-icons icon list-item-start">format_align_right</i>
            <a href="https://www.css3material.com/typography.html" class="list-item-detail">
                <span class="list-item-title">Typography</span>
            </a>
        </li>
    </ul>
</aside>
<div class="overlay" v-bind:class="{'is-active': vDrawerActive}" id="site-drawer-overlay"
    @click="vDrawerActive = !vDrawerActive"></div>
      
      
<header id="site-toolbar" class="toolbar z-elevation-4 toolbar--persistent">
    <div class="toolbar-brand">
        <div style="display: none" class="show-md-and-up">
            <img src="../../images/logo.png" class="toolbar-logo" alt="" />
        </div>
        <div class="show-md-and-down" style="display: none">
            <i class="material-icons text-dark space-right--sm icon" v-bind:class="{'text-light': vDark}" @click="vDrawerActive = !vDrawerActive">menu</i>
        </div>
        <a href="https://MatCSS" class="" v-bind:class="{'text-light': vDark}">MatCSS</a>
    </div>

    <div class="toolbar-section toolbar-section--visible">
        <ul class="toolbar-section-right">
            <li class="toolbar-item">
                <i class="material-icons icon space-right--sm text-dark" @click="toggleTheme" v-bind:class="{'text-light': vDark}">invert_colors</i>
            </li>
        </ul>
    </div>
</header>
    
      
<section class="row row-centered">
    <article class="col">

        <h1 class="h1-fluid">Cards</h1>
        <hr />
        <ul class="list-reset list-doc">
            <li><a href="#usage" title="Cards - Usage"><strong>Usage</strong></a></li>
            <li><a href="#actions" title="Cards - Card with Actions"><strong>Card with Actions</strong></a></li>
            <li><a href="#media" title="Cards - Card with Media"><strong>Card with Media</strong></a></li>
            <li><a href="#examples" title="Cards - Examples"><strong>Card Examples</strong></a></li>
            <li><a href="#classes" title="Cards - CSS Classes explanation"><strong>CSS Classes explanation</strong></a>
            </li>
        </ul>


        <h2 class="h5-fluid" id="usage" itemprop="name">Usage</h2>

        <p class="text-fluid" itemprop="articleBody">
            A Card is a standalone component that contain content and actions about a single element.
        </p>

        <p class="text-fluid">
            There are 3 components of card: <mark class="f-c">card-section</mark>
            which is the only required one, <mark class="f-c">card-media</mark>
            which contains image and <mark class="f-c">card-actions</mark> which
            contains action buttons.
        </p>

        

<div class="card w-responsive" v-bind:class="{'bg-dark': vDark}" style="max-width: 400px">
    <div class="card-section">
        <div class="title" v-bind:class="{'text-light': vDark}">Card Title</div>
        <div class="subtitle2" v-bind:class="{'text-light': vDark}">Card Subtitle</div>
    </div>
    <div class="card-section" v-bind:class="{'text-light': vDark}">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna
    </div>
    
</div>



        <pre class="f-code"><bc></bc>
<code class="language-html">&lt;div class="card width-fluid" style="max-width: 400px"&gt;
    &lt;div class="card-section"&gt;
        &lt;h2 class="title">Card Title&lt;/h2&gt;
        &lt;span class="subtitle2">Card Subtitle&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class="card-section"&gt;
        Text..
    &lt;/div&gt;
 &lt;/div&gt;
</code>
</pre>

        <h3 class="h5-fluid" id="actions">Card with Actions</h3>

        <div class="row">
            <div class="col">
                <div class="card w-responsive" v-bind:class="{'bg-dark': vDark}" style="max-width: 500px">
                    <div class="card-section">
                        <div class="title" v-bind:class="{'text-light': vDark}">Card Title</div>
                        <div class="subtitle2" v-bind:class="{'text-light': vDark}">Card Subtitle</div>
                    </div>
                    <div class="card-section" v-bind:class="{'text-light': vDark}">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et
                        dolore magna
                    </div>
                    <div class="card-section card-actions">
                        <button type="button" class="btn waves-effect">action 1</button>
                        <button type="button" class="btn waves-effect">action 2</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card hoverable w-responsive" v-bind:class="{'bg-dark': vDark}" style="max-width: 500px">
                    <div class="card-section">
                        <div class="title" v-bind:class="{'text-light': vDark}">Card Title</div>
                        <div class="subtitle2" v-bind:class="{'text-light': vDark}">Card Subtitle</div>
                    </div>
                    <div class="card-section" v-bind:class="{'text-light': vDark}">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et
                        dolore magna
                    </div>
                    <div class="card-section card-actions flex--justify-end">
                        <i class="material-icons icon waves-effect">favorite</i>
                        <i class="material-icons icon waves-effect">bookmark</i>
                        <i class="material-icons icon waves-effect">share</i>
                    </div>
                </div>
            </div>
        </div>

        <pre class="f-code"><bc></bc>
                    <code class="language-html">&lt;div class="card w-fluid"&gt;  
    &lt;div class="card-section"&gt;
        &lt;div class="card-title">Card Title&lt;/div&gt;
        &lt;div class="card-subtitle">Card Subtitle&lt;/div&gt;
    &lt;/div&gt;       
    &lt;div class="card-section"&gt;
        Lorem..
    &lt;/div&gt;
    --- For Buttons ---
    &lt;div class="card-section card-actions"&gt;
        &lt;button type="button" class="btn"&gt;action 1&lt;/button&gt;
        &lt;button type="button" class="btn"&gt;action 2&lt;/button&gt;
    &lt;/div&gt;
    --- For Icons ---
    &lt;div class="card-section card-actions flex--justify-end"&gt;
        &lt;i class="material-icons icon"&gt;favorite&lt;/i&gt;
        &lt;i class="material-icons icon"&gt;bookmark&lt;/i&gt;
        &lt;i class="material-icons icon"&gt;share&lt;/i&gt;
    &lt;/div&gt;
 &lt;/div&gt;
</code>
</pre>



        <h4 class="h5-fluid" id="media">Card with Media</h4>

        <div class="card w-responsive" style="max-width: 400px" v-bind:class="{'bg-dark': vDark}">
            <div class="card-media">
                <img src="../../images//01.jpg" alt="css3material Framework Image" />
                <div class="card-media-text">
                    <h1 class="title text-light">Card Title</h1>
                    <h2 class="subtitle1 text-light">Card Title</h2>
                </div>
            </div>
            <div class="card-section" v-bind:class="{'text-light': vDark}">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna
            </div>
            <div class="card-section card-actions">
                <button type="button" class="btn waves-effect">action 1</button>
                <button type="button" class="btn waves-effect">action 2</button>
            </div>
        </div>

        <pre class="f-code"><bc></bc>
<code class="language-html">&lt;div class="card w-fluid"&gt;
    &lt;div class="card-media"&gt;
        &lt;img src="img-source" alt="image alt text" /&gt;
        &lt;div class="card-media-text">
            &lt;h1 class="title">Card Title&lt;/h1&gt;
            &lt;h2 class="subtitle2">Card Subtitle&lt;/h1&gt;    
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="card-section"&gt;
        Text..
    &lt;/div&gt;
    &lt;div class="card-section card-actions"&gt;
        &lt;button type="button" class="btn"&gt;action 1&lt;/button&gt;
        &lt;button type="button" class="btn"&gt;action 2&lt;/button&gt;
    &lt;/div&gt;
 &lt;/div&gt;
</code></pre>

        <p class="text-fluid">
            You can also embed iframes and videos. Make sure to wrap iframe/video inside <mark
                class="f-c">embed-fluid</mark>.
        </p>

        <div class="card w-responsive" style="max-width: 400px" v-bind:class="{'bg-dark': vDark}">
            <div class="card-media embed-fluid" style="height: 220px">
                <iframe width="596" height="400" src="https://www.youtube.com/embed/dPFbF8BRndE" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="card-section">
                <div class="title" v-bind:class="{'text-light': vDark}">Card Title</div>
                <div class="subtitle2" v-bind:class="{'text-light': vDark}">Card Subtitle</div>
            </div>
            <div class="card-section" v-bind:class="{'text-light': vDark}">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna
            </div>
            <div class="card-section card-actions">
                <button type="button" class="btn waves-effect">action 1</button>
                <button type="button" class="btn waves-effect">action 2</button>
            </div>
        </div>


        <pre class="f-code"><bc></bc><code class="language-html">&lt;div class="card w-fluid"&gt;
    &lt;div class="card-media embed-fluid"&gt;
        iframe src..
    &lt;/div&gt;
    ...
 &lt;/div&gt;
</code>
</pre>

        <h1 class="h5-fluid" itemprop="name" id="examples">Card Examples</h1>
        <div class="card w-responsive" style="max-width: 400px" v-bind:class="{'bg-dark': vDark}">
            <div class="card-section flex">
                <div class="avatar">
                    <img src="../../images//avatar2.svg"
                        alt="MatCSS - A Responsive and Modern CSS Material Design Framework" />
                </div>
                <div class="space-left">
                    <span>John Doe</span>
                    <div class="subtitle2" v-bind:class="{'text-light': vDark}">Web Developer</div>
                </div>
            </div>
            <div class="card-media space-top--sm space-bottom--sm">
                <img class="no-border-radius" src="../../images//03.jpg" alt="" />
            </div>
            <div class="card-section" v-bind:class="{'text-light': vDark}">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, ad aliquam aliquid odit maiores debitis
                eligendi. Sed delectus voluptates vero maxime suscipit quo eos vel pariatur.
            </div>
            <div class="card-section card-actions">
                <div>
                    <i class="material-icons icon icon--sm">thumb_up_alt</i>
                    <span class="subtitle2">1k likes</span>
                </div>
                <div class="space-left">
                    <i class="material-icons icon icon--sm">mode_comment</i>
                    <span class="subtitle2">20 comments</span>
                </div>
            </div>
        </div>

        <pre class="f-code"><bc></bc>
            <code class="language-html">&lt;div class="card w-fluid"&gt;
    &lt;div class="card-section flex"&gt;
        &lt;div class="avatar"&gt;
            &lt;img src="Image Source" alt="Image Alt" /&gt;
        &lt;/div&gt;
        &lt;div class="space-left"&gt;
            &lt;span&gt;John Doe&lt;/span&gt;
            &lt;div class="subtitle2"&gt;Web Developer&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="card-media"&gt;
        &lt;img src="img-source" alt="image alt text" /&gt;
    &lt;/div&gt;
    &lt;div class="card-section"&gt;
        Text..
    &lt;/div&gt;
    &lt;div class="card-section card-actions"&gt;
        &lt;div&gt;
            &lt;i class="material-icons icon icon--sm"&gt;thumb_up_alt&lt;/i&gt;
            &lt;span&gt;1k likes&lt;/span&gt;        
        &lt;/div&gt;
        &lt;div class="space-left"&gt;
            &lt;i class="material-icons icon icon--sm"&gt;mode_comment&lt;/i&gt;
            &lt;span&gt;20 comments&lt;/span&gt;        
        &lt;/div&gt;
    &lt;/div&gt;
 &lt;/div&gt;
</code></pre>

        <div class="row">
            <div class="col col-md-12 col-lg-12 col-xl-6">
                <div class="card" v-bind:class="{'bg-dark': vDark}">
                    <div class="card-media">
                        <img src="../../images//03.jpg" style="height: 195px" alt="MatCSS" />
                    </div>
                    <div class="card-section card-actions flex--justify-end">
                        <i class="material-icons icon waves-effect">favorite</i>
                        <i class="material-icons icon waves-effect">bookmark</i>
                        <i class="material-icons icon waves-effect">share</i>
                    </div>
                </div>
            </div>
            <div class="col col-md-12 col-lg-12 col-xl-6">
                <div class="card rounded-semi" v-bind:class="{'bg-dark': vDark}">
                    <div class="card-section">
                        <h2 class="title">Title Goes Here</h2>
                        <span class="subtitle2">Subtitle Here</span>
                    </div>
                    <ul class="list list--two-line">
                        <li class="list-item">
                            <span class="list-item-start avatar">
                                <img src="../../images//02.jpg" alt="MatCSS" />
                            </span>
                            <span class="list-item-detail">
                                <span class="title">List item Primary Text</span>
                                <span class="subtitle1">List item Secondary Text</span>
                            </span>
                            <span class="list-item-end">
                                <i class="material-icons icon">mode_comment</i>
                            </span>
                        </li>
                        <li class="list-item">
                            <span class="list-item-start avatar">
                                <img src="../../images//02.jpg" alt="MatCSS" />
                            </span>
                            <span class="list-item-detail">
                                <span class="title">List item Primary Text</span>
                                <span class="subtitle1">List item Secondary Text</span>
                            </span>
                            <span class="list-item-end">
                                <i class="material-icons icon">mode_comment</i>
                            </span>
                        </li>
                        <li class="list-item">
                            <span class="list-item-start avatar">
                                <img src="../../images//02.jpg" alt="MatCSS" />
                            </span>
                            <span class="list-item-detail">
                                <span class="title">List item Primary Text</span>
                                <span class="subtitle1">List item Secondary Text</span>
                            </span>
                            <span class="list-item-end">
                                <i class="material-icons icon">mode_comment</i>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <pre class="f-code"><bc></bc>
            <code class="language-html">&lt;div class="card w-fluid"&gt;
    &lt;div class="card-media"&gt;
        &lt;img src="img-source" alt="image alt text" /&gt;
    &lt;/div&gt;
    &lt;div class="card-section card-actions flex--justify-end"&gt;
        &lt;i class="material-icons icon"&gt;favorite&lt;/i&gt;
        &lt;i class="material-icons icon"&gt;bookmark&lt;/i&gt;
        &lt;i class="material-icons icon"&gt;share&lt;/i&gt;
    &lt;/div&gt;
 &lt;/div&gt;
 
 &lt;div class="card w-fluid rounded-semi"&gt;
    &lt;div class="card-section"&gt;
        &lt;h2 class="title"&gt;Title Goes Here&lt;/h2&gt;
        &lt;h4 class="subtitle2"&gt;Subtitle Here&lt;/h4&gt;
    &lt;/div&gt;
    &lt;ul class="list list--two-line"&gt;
        &lt;li class="list-item"&gt;
            &lt;span class="list-item-start avatar"&gt;
                &lt;img src="Image Source" alt="Image Alt" /&gt;
            &lt;/span&gt;
            &lt;span class="list-item-detail"&gt;
                &lt;span class="title"&gt;List Item Primary Text&lt;/span&gt;
                &lt;span class="subtitle1"&gt;List Item Secondary Text&lt;/span&gt;
            &lt;/span&gt;
            &lt;span class="list-item-end"&gt;
                &lt;i class="material-icons icon"&gt;mode_comment&lt;/i&gt;
            &lt;/span&gt;
        &lt;/li&gt;
        ...
    &lt;/ul&gt;
 &lt;/div&gt;
</code></pre>

        <h6 class="h5-fluid" id="classes">Classes Details</h6>
        <table class="table--bordered table--responsive">
            <thead>
                <tr>
                    <th>CSS Class</th>
                    <th>Explanation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>card</td>
                    <td>Acts as a container for card content</td>
                </tr>
                <tr>
                    <td>card-section</td>
                    <td>Separates card content from each other</td>
                </tr>
                <tr>
                    <td>card-media</td>
                    <td>Contains card image/video</td>
                </tr>
                <tr>
                    <td data-n>card-media-text</td>
                    <td>Title and subtitle of card's media</td>
                </tr>
                <tr>
                    <td>card-actions</td>
                    <td>Contains card button and icons</td>
                </tr>
            </tbody>
        </table>

        <h6 class="h5-fluid">Next..</h6>
        <section class="row row-next">
            

<article class="col col-lg-4 col-md-12 col-sm-12 col-xs-12">
    <div class="card waves-effect card-next" v-bind:class="{'bg-dark': vDark}">
        <a class="" style="display: block" href="https://matcss.com/components/chips.html">
            <div class="card-section">
                <i class="material-icons icon" :class="{'text-light': vDark}">widgets</i>
                <span class="space-left--xs" style="text-overflow: ellipsis; overflow: hidden;" :class="{'text-light': vDark}">Chips</span>
            </div>
        </a>
    </div>
</article>


            

<article class="col col-lg-4 col-md-12 col-sm-12 col-xs-12">
    <div class="card waves-effect card-next" v-bind:class="{'bg-dark': vDark}">
        <a class="" style="display: block" href="https://matcss.com/components/dialog.html">
            <div class="card-section">
                <i class="material-icons icon" :class="{'text-light': vDark}">widgets</i>
                <span class="space-left--xs" style="text-overflow: ellipsis; overflow: hidden;" :class="{'text-light': vDark}">Dialog</span>
            </div>
        </a>
    </div>
</article>


            

<article class="col col-lg-4 col-md-12 col-sm-12 col-xs-12">
    <div class="card waves-effect card-next" v-bind:class="{'bg-dark': vDark}">
        <a class="" style="display: block" href="https://matcss.com/components/divider.html">
            <div class="card-section">
                <i class="material-icons icon" :class="{'text-light': vDark}">widgets</i>
                <span class="space-left--xs" style="text-overflow: ellipsis; overflow: hidden;" :class="{'text-light': vDark}">Divider</span>
            </div>
        </a>
    </div>
</article>


        </section>

    </article>
</section>

      
      
<footer class="footer row" id="site-footer">
    <section class="col text-center">
        <p class="text-fluid" style="margin-bottom: 0.25rem" itemprop="articleBody">
        MatCSS is a modern and responsive CSS framework based on <a :class="{'text-light': vDark}" href="https://material.io/">Material design</a>.
        </p>
        <span>Made with <i class="material-icons icon text-red">favorite</i> by Faheem Nawaz</span>.
        <br />
        </section>
</footer>
    
    </main>
    
    <button type="button" id="btnTop" class="btn pos-fixed pos--bottom-right btn--floating waves-effect waves-light">
        <i class="material-icons">keyboard_arrow_up</i>
    </button>

    

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="../js//main.js"></script>
    

<script>
    CM.toggleExpansionPanel('#cc', true);
    app.activateLink('Cards');
</script>
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Webpage",
        "url": "https://amp.dev/documentation/guides-and-tutorials/optimize-and-measure/discovery ",
        "name": "amp.dev",
        "headline": "Material Design Avatars - CSS Framework",
        "description": "Avatars are used to display images. They are used within other elements and can also contain text and icons",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https://MatCSS"
        },
        "publisher": {
            "@type": "Organization",
            "name": "MatCSS",
            "logo": {
                "url": "",
                "width": 512,
                "height": 512,
                "@type": "ImageObject"
            }
        },
        "image": {
            "@type": "ImageObject",
            "url": "https://amp.dev/static/img/sharing/docs-guide-600x314.png",
            "width": 600,
            "height": 314
        }
    }
</script>


  </body>
</html>